Flask-WTF
Flask-MySQLdb
python-dotenv
virtualenv
WTForms
scikit-learn
gunicorn
joblib
pandas
numpy
tensorflow
nltk
matplotlib
absl-py
astunparse
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
colorama
confection
cymem
Flask
Flask-Cors
Flask-DotEnv
flatbu
Frozen-Flask
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idn
itsdangerous
jax
Jinja2
keras
langcodes
libclang
Markdown
MarkupSafe
ml-dtypes
murmurhash
oauthlib
opt-einsum
packaging
pathy
Pillow
preshed
protobuf
pyasn1
pyasn1-modules
pydantic
regex
requests
requests-oauthlib
rsa
scipy
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
tensorboard
tensorboard-data-server
tensorflow-cpu
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tflearn
thinc
tqdm
typer
typing_extensions
urllib3
wasabi
Werkzeug
wrapt