Flask-WTF
Flask-MySQLdb
python-dotenv
virtualenv
WTForms
scikit-learn
gunicorn
joblib
pandas
numpy
tensorflow
nltk
matplotlib
Flask
Flask-Cors
Flask-DotEnv
flatbuffers
Frozen-Flask
keras
Pillow
scipy
tflearn